.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: cadetblue;
}



.ex-2-square {
    transition: 4s;
}
.ex-2-square:active {
    width: 100%;
    background-color: cadetblue;
}



.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 100%;
    background-color: cadetblue;
}



.ex-4-square {
    transition: 4s;
    background-color: cadetblue;
}
.ex-4-square:hover {
    opacity: 0;
}



.ex-5-square {
    transition: 1s;
    background-color: cadetblue;
}
.ex-5-square:hover {
    transform: scale(2.3);
}
.ex-5-square:active {
    transform: scale(1.5);
}



.ex-6-img:hover {
    filter: grayscale(1);
}



.ex-7-img {
    transition: 4s;
}
.ex-7-img:hover {
    filter: blur(4px) invert(100%);
}



.ex-8-img {
    transition: 4s;
}
.ex-8-img:hover {
    filter: grayscale(100%) opacity(50%);
    border-radius: 40px;
}



.ex-9-img {
    transition: 4s;
}
.ex-9-img:hover {
    filter: grayscale(100%) opacity(50%);
    border-radius: 40px;
    transform: scale(1.5);
}



.ex-10-icon {
    animation: spin 2s linear infinite;
}
    @keyframes spin {
        0% {
        transform: rotate(1turn);
            }
}



.ex-11-icon:hover {
    animation: spinALittleBit 4s linear;
}
    @keyframes spinALittleBit {
    0% {
        transform: rotate(0);
        }
    
    80% {
        transform: rotate(325deg);
        }
}



.ex-12-button:hover .ex-12-top-white {
    animation: moveTopWhite 4s linear;
}
    @keyframes moveTopWhite {
        0% {
        left: 10%;
            }
        50% {
        left: calc(100% - 60px);
            }
        100% {
        left: 10%;
            }
}



.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}
    @keyframes moveTopWhiteCompletely {
        0% {
            left: 10%;
            top: -10px;
            }
        30% {
            eft: calc(100% - 30px);
            top: -10px;
            }
        45% {
            left: calc(100% - 30px);
            top: 100%;
            }
        75% {
            left: 0;
            top: 100%;
            }
        90% {
            left: -15px;
            top: -10px;
            }
        100% {
            left: 10%;
            top: -10px;
            }
}

